@using  PolicyLDAP.Identity

@inject LdapSignInManager SignInManager
@inject LdapUserManager UserManager

@{
    ViewData["Title"] = "Home Page";
    ViewData["CurrentPage"] = "Home Page";
}

<h2>Home</h2>
<hr />
@if (this.SignInManager.IsSignedIn(User))
{
    <p>
        You are signed in, go to <a asp-area="" asp-controller="Policy" asp-action="Index">Policy</a>.
    </p>
}
else
{
    <p>
        <a asp-area="" asp-controller="Account" asp-action="Signin">Sign in</a> to continue...
    </p>
}

